
html{
  background-image: linear-gradient(180deg, rgb(185, 234, 246), rgb(236, 199, 253));
}

body{
  width: 1200px;
  height:1600px;
  margin: auto;
}
main{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr 2fr 1fr 1fr;
  width: 1200px;
  height: 1600px;
}
#A{
  font-size: 3em;
  grid-column: 1/4;
  grid-row: 1/2;
  
  text-align: center;
  background-image: url(../imgs/bus.jpg);
  background-size: 1200px 600px;
  font-family: 'Playfair Display', serif;
  color: rgb(194, 238, 255);
  border-radius: 10px 100px / 120px;
  
}

#picNameOne{
  font-size: 2em;
  grid-column: 1/2;
  grid-row: 2/3;
  
  text-align: center;
  font-family: 'Rubik', sans-serif;
  margin-top:35px;
  margin-bottom: 25px;
  color: rgb(117, 94, 128);
  margin-left: 25px;
  margin-right: 25px;
  padding-top: 50px;
  
}
#picNameTwo{
  grid-column:2/3;
  grid-row: 2/3;
  font-size: 2em;
  text-align: center;
  
  font-family: 'Rubik', sans-serif;
  margin-top:35px;
  margin-bottom: 25px;
  color: rgb(117, 94, 128);
  margin-left: 25px;
  margin-right: 25px;
  padding-top: 50px;
  
  
}
#picNameThree{
  grid-column:3/4;
  grid-row: 2/3;
  font-size: 2em;
  
  text-align: center;
  font-family: 'Rubik', sans-serif;
  margin-top:35px;
  margin-bottom: 25px;
  color: rgb(117, 94, 128);
  margin-left: 25px;
  margin-right: 25px;
  padding-top: 50px;
  
}
#pic1{
  font-size: 1.2em;
  grid-column: 1/2;
  grid-row: 3/4;
  
  text-align: center;
  border-radius: 30px;
  margin-top: 20px;
  margin-left: 25px;
  margin-right: 25px;
  padding-top: 50px;
}
#pic2{
  grid-column:2/3;
  grid-row: 3/4;
  font-size: 1.2em;
  
  text-align: center;
  border-radius: 30px;
  margin-left: 25px;
  margin-right: 25px;
  padding-top: 50px;
  margin-top: 20px;
}
#pic3{
  grid-column:3/4;
  grid-row: 3/4;
  font-size: 1.2em;
  
  text-align: center;
  border-radius: 30px;
  margin-left: 25px;
  margin-right: 25px;
  padding-top: 50px;
  margin-top: 20px;
}
#Information{
  grid-column:1/4;
  grid-row: 4/5;
  font-size: 1.2em;
  
  text-align: center;
  margin-top: 25px;
}
h2{
  font-size: 2em;
}
img{
  border-radius: 15px;
}